<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyuanpe.mapper.BusinessMapper">
  <resultMap id="BaseResultMap" type="com.xiaoyuanpe.pojo.Business">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="bueines_name" jdbcType="VARCHAR" property="bueinesName" />
    <result column="userl_id" jdbcType="INTEGER" property="userlId" />
    <result column="bueines_price" jdbcType="DECIMAL" property="bueinesPrice" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.xiaoyuanpe.pojo.Business">
    <result column="bueines_info" jdbcType="LONGVARCHAR" property="bueinesInfo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, bueines_name, userl_id, bueines_price
  </sql>
  <sql id="Blob_Column_List">
    bueines_info
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.xiaoyuanpe.pojo.BusinessExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from business
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.xiaoyuanpe.pojo.BusinessExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from business
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from business
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from business
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiaoyuanpe.pojo.BusinessExample">
    delete from business
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiaoyuanpe.pojo.Business">
    insert into business (id, bueines_name, userl_id, 
      bueines_price, bueines_info)
    values (#{id,jdbcType=INTEGER}, #{bueinesName,jdbcType=VARCHAR}, #{userlId,jdbcType=INTEGER}, 
      #{bueinesPrice,jdbcType=DECIMAL}, #{bueinesInfo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaoyuanpe.pojo.Business">
    insert into business
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bueinesName != null">
        bueines_name,
      </if>
      <if test="userlId != null">
        userl_id,
      </if>
      <if test="bueinesPrice != null">
        bueines_price,
      </if>
      <if test="bueinesInfo != null">
        bueines_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bueinesName != null">
        #{bueinesName,jdbcType=VARCHAR},
      </if>
      <if test="userlId != null">
        #{userlId,jdbcType=INTEGER},
      </if>
      <if test="bueinesPrice != null">
        #{bueinesPrice,jdbcType=DECIMAL},
      </if>
      <if test="bueinesInfo != null">
        #{bueinesInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiaoyuanpe.pojo.BusinessExample" resultType="java.lang.Long">
    select count(*) from business
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update business
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.bueinesName != null">
        bueines_name = #{record.bueinesName,jdbcType=VARCHAR},
      </if>
      <if test="record.userlId != null">
        userl_id = #{record.userlId,jdbcType=INTEGER},
      </if>
      <if test="record.bueinesPrice != null">
        bueines_price = #{record.bueinesPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.bueinesInfo != null">
        bueines_info = #{record.bueinesInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update business
    set id = #{record.id,jdbcType=INTEGER},
      bueines_name = #{record.bueinesName,jdbcType=VARCHAR},
      userl_id = #{record.userlId,jdbcType=INTEGER},
      bueines_price = #{record.bueinesPrice,jdbcType=DECIMAL},
      bueines_info = #{record.bueinesInfo,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update business
    set id = #{record.id,jdbcType=INTEGER},
      bueines_name = #{record.bueinesName,jdbcType=VARCHAR},
      userl_id = #{record.userlId,jdbcType=INTEGER},
      bueines_price = #{record.bueinesPrice,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaoyuanpe.pojo.Business">
    update business
    <set>
      <if test="bueinesName != null">
        bueines_name = #{bueinesName,jdbcType=VARCHAR},
      </if>
      <if test="userlId != null">
        userl_id = #{userlId,jdbcType=INTEGER},
      </if>
      <if test="bueinesPrice != null">
        bueines_price = #{bueinesPrice,jdbcType=DECIMAL},
      </if>
      <if test="bueinesInfo != null">
        bueines_info = #{bueinesInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xiaoyuanpe.pojo.Business">
    update business
    set bueines_name = #{bueinesName,jdbcType=VARCHAR},
      userl_id = #{userlId,jdbcType=INTEGER},
      bueines_price = #{bueinesPrice,jdbcType=DECIMAL},
      bueines_info = #{bueinesInfo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaoyuanpe.pojo.Business">
    update business
    set bueines_name = #{bueinesName,jdbcType=VARCHAR},
      userl_id = #{userlId,jdbcType=INTEGER},
      bueines_price = #{bueinesPrice,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>