<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyuanpe.mapper.SportvenueMapper">
  <resultMap id="BaseResultMap" type="com.xiaoyuanpe.pojo.Sportvenue">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sport_name" jdbcType="VARCHAR" property="sportName" />
    <result column="site_size" jdbcType="DOUBLE" property="siteSize" />
    <result column="number_venues" jdbcType="INTEGER" property="numberVenues" />
    <result column="area" jdbcType="DOUBLE" property="area" />
    <result column="construction_time" jdbcType="TIMESTAMP" property="constructionTime" />
    <result column="other" jdbcType="VARCHAR" property="other" />
    <result column="venue_id" jdbcType="INTEGER" property="venueId" />
    <result column="img_name" jdbcType="VARCHAR" property="imgName" />
    <result column="floor" jdbcType="VARCHAR" property="floor" />
    <result column="light" jdbcType="VARCHAR" property="light" />
    <result column="rest_area" jdbcType="VARCHAR" property="restArea" />
    <result column="equipment_rental" jdbcType="VARCHAR" property="equipmentRental" />
    <result column="equipment_maintenance" jdbcType="VARCHAR" property="equipmentMaintenance" />
    <result column="more_services" jdbcType="VARCHAR" property="moreServices" />
    <result column="bathing_facilities" jdbcType="VARCHAR" property="bathingFacilities" />
    <result column="venue_sales" jdbcType="VARCHAR" property="venueSales" />
    <result column="invoice" jdbcType="VARCHAR" property="invoice" />
    <result column="parking" jdbcType="VARCHAR" property="parking" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.xiaoyuanpe.pojo.Sportvenue">
    <result column="imgs" jdbcType="LONGVARCHAR" property="imgs" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, sport_name, site_size, number_venues, area, construction_time, other, venue_id, 
    img_name, floor, light, rest_area, equipment_rental, equipment_maintenance, more_services, 
    bathing_facilities, venue_sales, invoice, parking
  </sql>
  <sql id="Blob_Column_List">
    imgs
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.xiaoyuanpe.pojo.SportvenueExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sportvenue
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.xiaoyuanpe.pojo.SportvenueExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sportvenue
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sportvenue
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sportvenue
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiaoyuanpe.pojo.SportvenueExample">
    delete from sportvenue
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiaoyuanpe.pojo.Sportvenue">
    insert into sportvenue (id, sport_name, site_size, 
      number_venues, area, construction_time, 
      other, venue_id, img_name, 
      floor, light, rest_area, 
      equipment_rental, equipment_maintenance, 
      more_services, bathing_facilities, venue_sales, 
      invoice, parking, imgs
      )
    values (#{id,jdbcType=INTEGER}, #{sportName,jdbcType=VARCHAR}, #{siteSize,jdbcType=DOUBLE}, 
      #{numberVenues,jdbcType=INTEGER}, #{area,jdbcType=DOUBLE}, #{constructionTime,jdbcType=TIMESTAMP}, 
      #{other,jdbcType=VARCHAR}, #{venueId,jdbcType=INTEGER}, #{imgName,jdbcType=VARCHAR}, 
      #{floor,jdbcType=VARCHAR}, #{light,jdbcType=VARCHAR}, #{restArea,jdbcType=VARCHAR}, 
      #{equipmentRental,jdbcType=VARCHAR}, #{equipmentMaintenance,jdbcType=VARCHAR}, 
      #{moreServices,jdbcType=VARCHAR}, #{bathingFacilities,jdbcType=VARCHAR}, #{venueSales,jdbcType=VARCHAR}, 
      #{invoice,jdbcType=VARCHAR}, #{parking,jdbcType=VARCHAR}, #{imgs,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiaoyuanpe.pojo.Sportvenue">
    insert into sportvenue
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sportName != null">
        sport_name,
      </if>
      <if test="siteSize != null">
        site_size,
      </if>
      <if test="numberVenues != null">
        number_venues,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="constructionTime != null">
        construction_time,
      </if>
      <if test="other != null">
        other,
      </if>
      <if test="venueId != null">
        venue_id,
      </if>
      <if test="imgName != null">
        img_name,
      </if>
      <if test="floor != null">
        floor,
      </if>
      <if test="light != null">
        light,
      </if>
      <if test="restArea != null">
        rest_area,
      </if>
      <if test="equipmentRental != null">
        equipment_rental,
      </if>
      <if test="equipmentMaintenance != null">
        equipment_maintenance,
      </if>
      <if test="moreServices != null">
        more_services,
      </if>
      <if test="bathingFacilities != null">
        bathing_facilities,
      </if>
      <if test="venueSales != null">
        venue_sales,
      </if>
      <if test="invoice != null">
        invoice,
      </if>
      <if test="parking != null">
        parking,
      </if>
      <if test="imgs != null">
        imgs,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sportName != null">
        #{sportName,jdbcType=VARCHAR},
      </if>
      <if test="siteSize != null">
        #{siteSize,jdbcType=DOUBLE},
      </if>
      <if test="numberVenues != null">
        #{numberVenues,jdbcType=INTEGER},
      </if>
      <if test="area != null">
        #{area,jdbcType=DOUBLE},
      </if>
      <if test="constructionTime != null">
        #{constructionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="other != null">
        #{other,jdbcType=VARCHAR},
      </if>
      <if test="venueId != null">
        #{venueId,jdbcType=INTEGER},
      </if>
      <if test="imgName != null">
        #{imgName,jdbcType=VARCHAR},
      </if>
      <if test="floor != null">
        #{floor,jdbcType=VARCHAR},
      </if>
      <if test="light != null">
        #{light,jdbcType=VARCHAR},
      </if>
      <if test="restArea != null">
        #{restArea,jdbcType=VARCHAR},
      </if>
      <if test="equipmentRental != null">
        #{equipmentRental,jdbcType=VARCHAR},
      </if>
      <if test="equipmentMaintenance != null">
        #{equipmentMaintenance,jdbcType=VARCHAR},
      </if>
      <if test="moreServices != null">
        #{moreServices,jdbcType=VARCHAR},
      </if>
      <if test="bathingFacilities != null">
        #{bathingFacilities,jdbcType=VARCHAR},
      </if>
      <if test="venueSales != null">
        #{venueSales,jdbcType=VARCHAR},
      </if>
      <if test="invoice != null">
        #{invoice,jdbcType=VARCHAR},
      </if>
      <if test="parking != null">
        #{parking,jdbcType=VARCHAR},
      </if>
      <if test="imgs != null">
        #{imgs,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiaoyuanpe.pojo.SportvenueExample" resultType="java.lang.Long">
    select count(*) from sportvenue
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sportvenue
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.sportName != null">
        sport_name = #{record.sportName,jdbcType=VARCHAR},
      </if>
      <if test="record.siteSize != null">
        site_size = #{record.siteSize,jdbcType=DOUBLE},
      </if>
      <if test="record.numberVenues != null">
        number_venues = #{record.numberVenues,jdbcType=INTEGER},
      </if>
      <if test="record.area != null">
        area = #{record.area,jdbcType=DOUBLE},
      </if>
      <if test="record.constructionTime != null">
        construction_time = #{record.constructionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.other != null">
        other = #{record.other,jdbcType=VARCHAR},
      </if>
      <if test="record.venueId != null">
        venue_id = #{record.venueId,jdbcType=INTEGER},
      </if>
      <if test="record.imgName != null">
        img_name = #{record.imgName,jdbcType=VARCHAR},
      </if>
      <if test="record.floor != null">
        floor = #{record.floor,jdbcType=VARCHAR},
      </if>
      <if test="record.light != null">
        light = #{record.light,jdbcType=VARCHAR},
      </if>
      <if test="record.restArea != null">
        rest_area = #{record.restArea,jdbcType=VARCHAR},
      </if>
      <if test="record.equipmentRental != null">
        equipment_rental = #{record.equipmentRental,jdbcType=VARCHAR},
      </if>
      <if test="record.equipmentMaintenance != null">
        equipment_maintenance = #{record.equipmentMaintenance,jdbcType=VARCHAR},
      </if>
      <if test="record.moreServices != null">
        more_services = #{record.moreServices,jdbcType=VARCHAR},
      </if>
      <if test="record.bathingFacilities != null">
        bathing_facilities = #{record.bathingFacilities,jdbcType=VARCHAR},
      </if>
      <if test="record.venueSales != null">
        venue_sales = #{record.venueSales,jdbcType=VARCHAR},
      </if>
      <if test="record.invoice != null">
        invoice = #{record.invoice,jdbcType=VARCHAR},
      </if>
      <if test="record.parking != null">
        parking = #{record.parking,jdbcType=VARCHAR},
      </if>
      <if test="record.imgs != null">
        imgs = #{record.imgs,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update sportvenue
    set id = #{record.id,jdbcType=INTEGER},
      sport_name = #{record.sportName,jdbcType=VARCHAR},
      site_size = #{record.siteSize,jdbcType=DOUBLE},
      number_venues = #{record.numberVenues,jdbcType=INTEGER},
      area = #{record.area,jdbcType=DOUBLE},
      construction_time = #{record.constructionTime,jdbcType=TIMESTAMP},
      other = #{record.other,jdbcType=VARCHAR},
      venue_id = #{record.venueId,jdbcType=INTEGER},
      img_name = #{record.imgName,jdbcType=VARCHAR},
      floor = #{record.floor,jdbcType=VARCHAR},
      light = #{record.light,jdbcType=VARCHAR},
      rest_area = #{record.restArea,jdbcType=VARCHAR},
      equipment_rental = #{record.equipmentRental,jdbcType=VARCHAR},
      equipment_maintenance = #{record.equipmentMaintenance,jdbcType=VARCHAR},
      more_services = #{record.moreServices,jdbcType=VARCHAR},
      bathing_facilities = #{record.bathingFacilities,jdbcType=VARCHAR},
      venue_sales = #{record.venueSales,jdbcType=VARCHAR},
      invoice = #{record.invoice,jdbcType=VARCHAR},
      parking = #{record.parking,jdbcType=VARCHAR},
      imgs = #{record.imgs,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sportvenue
    set id = #{record.id,jdbcType=INTEGER},
      sport_name = #{record.sportName,jdbcType=VARCHAR},
      site_size = #{record.siteSize,jdbcType=DOUBLE},
      number_venues = #{record.numberVenues,jdbcType=INTEGER},
      area = #{record.area,jdbcType=DOUBLE},
      construction_time = #{record.constructionTime,jdbcType=TIMESTAMP},
      other = #{record.other,jdbcType=VARCHAR},
      venue_id = #{record.venueId,jdbcType=INTEGER},
      img_name = #{record.imgName,jdbcType=VARCHAR},
      floor = #{record.floor,jdbcType=VARCHAR},
      light = #{record.light,jdbcType=VARCHAR},
      rest_area = #{record.restArea,jdbcType=VARCHAR},
      equipment_rental = #{record.equipmentRental,jdbcType=VARCHAR},
      equipment_maintenance = #{record.equipmentMaintenance,jdbcType=VARCHAR},
      more_services = #{record.moreServices,jdbcType=VARCHAR},
      bathing_facilities = #{record.bathingFacilities,jdbcType=VARCHAR},
      venue_sales = #{record.venueSales,jdbcType=VARCHAR},
      invoice = #{record.invoice,jdbcType=VARCHAR},
      parking = #{record.parking,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaoyuanpe.pojo.Sportvenue">
    update sportvenue
    <set>
      <if test="sportName != null">
        sport_name = #{sportName,jdbcType=VARCHAR},
      </if>
      <if test="siteSize != null">
        site_size = #{siteSize,jdbcType=DOUBLE},
      </if>
      <if test="numberVenues != null">
        number_venues = #{numberVenues,jdbcType=INTEGER},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=DOUBLE},
      </if>
      <if test="constructionTime != null">
        construction_time = #{constructionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="other != null">
        other = #{other,jdbcType=VARCHAR},
      </if>
      <if test="venueId != null">
        venue_id = #{venueId,jdbcType=INTEGER},
      </if>
      <if test="imgName != null">
        img_name = #{imgName,jdbcType=VARCHAR},
      </if>
      <if test="floor != null">
        floor = #{floor,jdbcType=VARCHAR},
      </if>
      <if test="light != null">
        light = #{light,jdbcType=VARCHAR},
      </if>
      <if test="restArea != null">
        rest_area = #{restArea,jdbcType=VARCHAR},
      </if>
      <if test="equipmentRental != null">
        equipment_rental = #{equipmentRental,jdbcType=VARCHAR},
      </if>
      <if test="equipmentMaintenance != null">
        equipment_maintenance = #{equipmentMaintenance,jdbcType=VARCHAR},
      </if>
      <if test="moreServices != null">
        more_services = #{moreServices,jdbcType=VARCHAR},
      </if>
      <if test="bathingFacilities != null">
        bathing_facilities = #{bathingFacilities,jdbcType=VARCHAR},
      </if>
      <if test="venueSales != null">
        venue_sales = #{venueSales,jdbcType=VARCHAR},
      </if>
      <if test="invoice != null">
        invoice = #{invoice,jdbcType=VARCHAR},
      </if>
      <if test="parking != null">
        parking = #{parking,jdbcType=VARCHAR},
      </if>
      <if test="imgs != null">
        imgs = #{imgs,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xiaoyuanpe.pojo.Sportvenue">
    update sportvenue
    set sport_name = #{sportName,jdbcType=VARCHAR},
      site_size = #{siteSize,jdbcType=DOUBLE},
      number_venues = #{numberVenues,jdbcType=INTEGER},
      area = #{area,jdbcType=DOUBLE},
      construction_time = #{constructionTime,jdbcType=TIMESTAMP},
      other = #{other,jdbcType=VARCHAR},
      venue_id = #{venueId,jdbcType=INTEGER},
      img_name = #{imgName,jdbcType=VARCHAR},
      floor = #{floor,jdbcType=VARCHAR},
      light = #{light,jdbcType=VARCHAR},
      rest_area = #{restArea,jdbcType=VARCHAR},
      equipment_rental = #{equipmentRental,jdbcType=VARCHAR},
      equipment_maintenance = #{equipmentMaintenance,jdbcType=VARCHAR},
      more_services = #{moreServices,jdbcType=VARCHAR},
      bathing_facilities = #{bathingFacilities,jdbcType=VARCHAR},
      venue_sales = #{venueSales,jdbcType=VARCHAR},
      invoice = #{invoice,jdbcType=VARCHAR},
      parking = #{parking,jdbcType=VARCHAR},
      imgs = #{imgs,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaoyuanpe.pojo.Sportvenue">
    update sportvenue
    set sport_name = #{sportName,jdbcType=VARCHAR},
      site_size = #{siteSize,jdbcType=DOUBLE},
      number_venues = #{numberVenues,jdbcType=INTEGER},
      area = #{area,jdbcType=DOUBLE},
      construction_time = #{constructionTime,jdbcType=TIMESTAMP},
      other = #{other,jdbcType=VARCHAR},
      venue_id = #{venueId,jdbcType=INTEGER},
      img_name = #{imgName,jdbcType=VARCHAR},
      floor = #{floor,jdbcType=VARCHAR},
      light = #{light,jdbcType=VARCHAR},
      rest_area = #{restArea,jdbcType=VARCHAR},
      equipment_rental = #{equipmentRental,jdbcType=VARCHAR},
      equipment_maintenance = #{equipmentMaintenance,jdbcType=VARCHAR},
      more_services = #{moreServices,jdbcType=VARCHAR},
      bathing_facilities = #{bathingFacilities,jdbcType=VARCHAR},
      venue_sales = #{venueSales,jdbcType=VARCHAR},
      invoice = #{invoice,jdbcType=VARCHAR},
      parking = #{parking,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>