<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyuanpe.mapper.VenueMapper">
  <resultMap id="BaseResultMap" type="com.xiaoyuanpe.pojo.Venue">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="venue_name" jdbcType="VARCHAR" property="venueName" />
    <result column="Introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="per_price" jdbcType="VARCHAR" property="perPrice" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="closing_date_start" jdbcType="TIMESTAMP" property="closingDateStart" />
    <result column="closing_date_end" jdbcType="TIMESTAMP" property="closingDateEnd" />
    <result column="opening_date_start" jdbcType="TIMESTAMP" property="openingDateStart" />
    <result column="opening_date_end" jdbcType="TIMESTAMP" property="openingDateEnd" />
    <result column="opening_time" jdbcType="VARCHAR" property="openingTime" />
    <result column="venue_addr" jdbcType="VARCHAR" property="venueAddr" />
    <result column="school_id" jdbcType="INTEGER" property="schoolId" />
    <result column="img_name" jdbcType="VARCHAR" property="imgName" />
    <result column="the_bus" jdbcType="VARCHAR" property="theBus" />
    <result column="subway" jdbcType="VARCHAR" property="subway" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.xiaoyuanpe.pojo.Venue">
    <result column="imgs" jdbcType="LONGVARCHAR" property="imgs" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, venue_name, Introduction, per_price, phone, closing_date_start, closing_date_end, 
    opening_date_start, opening_date_end, opening_time, venue_addr, school_id, img_name, 
    the_bus, subway
  </sql>
  <sql id="Blob_Column_List">
    imgs
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.xiaoyuanpe.pojo.VenueExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from venue
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.xiaoyuanpe.pojo.VenueExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from venue
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from venue
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from venue
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiaoyuanpe.pojo.VenueExample">
    delete from venue
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiaoyuanpe.pojo.Venue">
    insert into venue (id, venue_name, Introduction, 
      per_price, phone, closing_date_start, 
      closing_date_end, opening_date_start, opening_date_end, 
      opening_time, venue_addr, school_id, 
      img_name, the_bus, subway, 
      imgs)
    values (#{id,jdbcType=INTEGER}, #{venueName,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, 
      #{perPrice,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{closingDateStart,jdbcType=TIMESTAMP}, 
      #{closingDateEnd,jdbcType=TIMESTAMP}, #{openingDateStart,jdbcType=TIMESTAMP}, #{openingDateEnd,jdbcType=TIMESTAMP}, 
      #{openingTime,jdbcType=VARCHAR}, #{venueAddr,jdbcType=VARCHAR}, #{schoolId,jdbcType=INTEGER}, 
      #{imgName,jdbcType=VARCHAR}, #{theBus,jdbcType=VARCHAR}, #{subway,jdbcType=VARCHAR}, 
      #{imgs,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaoyuanpe.pojo.Venue">
    insert into venue
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="venueName != null">
        venue_name,
      </if>
      <if test="introduction != null">
        Introduction,
      </if>
      <if test="perPrice != null">
        per_price,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="closingDateStart != null">
        closing_date_start,
      </if>
      <if test="closingDateEnd != null">
        closing_date_end,
      </if>
      <if test="openingDateStart != null">
        opening_date_start,
      </if>
      <if test="openingDateEnd != null">
        opening_date_end,
      </if>
      <if test="openingTime != null">
        opening_time,
      </if>
      <if test="venueAddr != null">
        venue_addr,
      </if>
      <if test="schoolId != null">
        school_id,
      </if>
      <if test="imgName != null">
        img_name,
      </if>
      <if test="theBus != null">
        the_bus,
      </if>
      <if test="subway != null">
        subway,
      </if>
      <if test="imgs != null">
        imgs,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="venueName != null">
        #{venueName,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="perPrice != null">
        #{perPrice,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="closingDateStart != null">
        #{closingDateStart,jdbcType=TIMESTAMP},
      </if>
      <if test="closingDateEnd != null">
        #{closingDateEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="openingDateStart != null">
        #{openingDateStart,jdbcType=TIMESTAMP},
      </if>
      <if test="openingDateEnd != null">
        #{openingDateEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="openingTime != null">
        #{openingTime,jdbcType=VARCHAR},
      </if>
      <if test="venueAddr != null">
        #{venueAddr,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null">
        #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="imgName != null">
        #{imgName,jdbcType=VARCHAR},
      </if>
      <if test="theBus != null">
        #{theBus,jdbcType=VARCHAR},
      </if>
      <if test="subway != null">
        #{subway,jdbcType=VARCHAR},
      </if>
      <if test="imgs != null">
        #{imgs,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiaoyuanpe.pojo.VenueExample" resultType="java.lang.Long">
    select count(*) from venue
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update venue
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.venueName != null">
        venue_name = #{record.venueName,jdbcType=VARCHAR},
      </if>
      <if test="record.introduction != null">
        Introduction = #{record.introduction,jdbcType=VARCHAR},
      </if>
      <if test="record.perPrice != null">
        per_price = #{record.perPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.closingDateStart != null">
        closing_date_start = #{record.closingDateStart,jdbcType=TIMESTAMP},
      </if>
      <if test="record.closingDateEnd != null">
        closing_date_end = #{record.closingDateEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="record.openingDateStart != null">
        opening_date_start = #{record.openingDateStart,jdbcType=TIMESTAMP},
      </if>
      <if test="record.openingDateEnd != null">
        opening_date_end = #{record.openingDateEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="record.openingTime != null">
        opening_time = #{record.openingTime,jdbcType=VARCHAR},
      </if>
      <if test="record.venueAddr != null">
        venue_addr = #{record.venueAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolId != null">
        school_id = #{record.schoolId,jdbcType=INTEGER},
      </if>
      <if test="record.imgName != null">
        img_name = #{record.imgName,jdbcType=VARCHAR},
      </if>
      <if test="record.theBus != null">
        the_bus = #{record.theBus,jdbcType=VARCHAR},
      </if>
      <if test="record.subway != null">
        subway = #{record.subway,jdbcType=VARCHAR},
      </if>
      <if test="record.imgs != null">
        imgs = #{record.imgs,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update venue
    set id = #{record.id,jdbcType=INTEGER},
      venue_name = #{record.venueName,jdbcType=VARCHAR},
      Introduction = #{record.introduction,jdbcType=VARCHAR},
      per_price = #{record.perPrice,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      closing_date_start = #{record.closingDateStart,jdbcType=TIMESTAMP},
      closing_date_end = #{record.closingDateEnd,jdbcType=TIMESTAMP},
      opening_date_start = #{record.openingDateStart,jdbcType=TIMESTAMP},
      opening_date_end = #{record.openingDateEnd,jdbcType=TIMESTAMP},
      opening_time = #{record.openingTime,jdbcType=VARCHAR},
      venue_addr = #{record.venueAddr,jdbcType=VARCHAR},
      school_id = #{record.schoolId,jdbcType=INTEGER},
      img_name = #{record.imgName,jdbcType=VARCHAR},
      the_bus = #{record.theBus,jdbcType=VARCHAR},
      subway = #{record.subway,jdbcType=VARCHAR},
      imgs = #{record.imgs,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update venue
    set id = #{record.id,jdbcType=INTEGER},
      venue_name = #{record.venueName,jdbcType=VARCHAR},
      Introduction = #{record.introduction,jdbcType=VARCHAR},
      per_price = #{record.perPrice,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      closing_date_start = #{record.closingDateStart,jdbcType=TIMESTAMP},
      closing_date_end = #{record.closingDateEnd,jdbcType=TIMESTAMP},
      opening_date_start = #{record.openingDateStart,jdbcType=TIMESTAMP},
      opening_date_end = #{record.openingDateEnd,jdbcType=TIMESTAMP},
      opening_time = #{record.openingTime,jdbcType=VARCHAR},
      venue_addr = #{record.venueAddr,jdbcType=VARCHAR},
      school_id = #{record.schoolId,jdbcType=INTEGER},
      img_name = #{record.imgName,jdbcType=VARCHAR},
      the_bus = #{record.theBus,jdbcType=VARCHAR},
      subway = #{record.subway,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaoyuanpe.pojo.Venue">
    update venue
    <set>
      <if test="venueName != null">
        venue_name = #{venueName,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        Introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="perPrice != null">
        per_price = #{perPrice,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="closingDateStart != null">
        closing_date_start = #{closingDateStart,jdbcType=TIMESTAMP},
      </if>
      <if test="closingDateEnd != null">
        closing_date_end = #{closingDateEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="openingDateStart != null">
        opening_date_start = #{openingDateStart,jdbcType=TIMESTAMP},
      </if>
      <if test="openingDateEnd != null">
        opening_date_end = #{openingDateEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="openingTime != null">
        opening_time = #{openingTime,jdbcType=VARCHAR},
      </if>
      <if test="venueAddr != null">
        venue_addr = #{venueAddr,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null">
        school_id = #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="imgName != null">
        img_name = #{imgName,jdbcType=VARCHAR},
      </if>
      <if test="theBus != null">
        the_bus = #{theBus,jdbcType=VARCHAR},
      </if>
      <if test="subway != null">
        subway = #{subway,jdbcType=VARCHAR},
      </if>
      <if test="imgs != null">
        imgs = #{imgs,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xiaoyuanpe.pojo.Venue">
    update venue
    set venue_name = #{venueName,jdbcType=VARCHAR},
      Introduction = #{introduction,jdbcType=VARCHAR},
      per_price = #{perPrice,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      closing_date_start = #{closingDateStart,jdbcType=TIMESTAMP},
      closing_date_end = #{closingDateEnd,jdbcType=TIMESTAMP},
      opening_date_start = #{openingDateStart,jdbcType=TIMESTAMP},
      opening_date_end = #{openingDateEnd,jdbcType=TIMESTAMP},
      opening_time = #{openingTime,jdbcType=VARCHAR},
      venue_addr = #{venueAddr,jdbcType=VARCHAR},
      school_id = #{schoolId,jdbcType=INTEGER},
      img_name = #{imgName,jdbcType=VARCHAR},
      the_bus = #{theBus,jdbcType=VARCHAR},
      subway = #{subway,jdbcType=VARCHAR},
      imgs = #{imgs,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaoyuanpe.pojo.Venue">
    update venue
    set venue_name = #{venueName,jdbcType=VARCHAR},
      Introduction = #{introduction,jdbcType=VARCHAR},
      per_price = #{perPrice,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      closing_date_start = #{closingDateStart,jdbcType=TIMESTAMP},
      closing_date_end = #{closingDateEnd,jdbcType=TIMESTAMP},
      opening_date_start = #{openingDateStart,jdbcType=TIMESTAMP},
      opening_date_end = #{openingDateEnd,jdbcType=TIMESTAMP},
      opening_time = #{openingTime,jdbcType=VARCHAR},
      venue_addr = #{venueAddr,jdbcType=VARCHAR},
      school_id = #{schoolId,jdbcType=INTEGER},
      img_name = #{imgName,jdbcType=VARCHAR},
      the_bus = #{theBus,jdbcType=VARCHAR},
      subway = #{subway,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>